@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Fonts */
  --font-primary: "Roboto", "Arial", sans-serif;
  --font-size: 10px;
  /* Size */
  --width-search: 628px;
  --height-header: 56px;
  --padding-primaray: 0 16px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-primary);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  padding: var(--padding-primaray);
}

.left-section {
  display: flex;
  cursor: pointer;
  align-items: center;

}

.left-section img {
  width: 46%;
  padding-left: var(--padding-primaray);
}

.mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin-left: -9%;
}

.mid-section form {
  display: flex;
  width: var(--width-search);
  height: 40px;
}

.mid-section input {
  width: 100%;
  border-radius: 10 px 0px 0 10px;
  padding: var(--padding-primaray);
  font-size: 1.8rem;
  border: 1px solid #d3d3d3;
  border-right: none;
}

.mid-section button {
  width: 46px;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  padding-top: 5px;
  cursor: pointer;
  background-color: #f8f8f8;
}
.mid-section:hover button{
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.mid-section .mic {
  border: 1px solid #d3d3d3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
}
.right-section a{
  padding-right: 10px;
  text-decoration: none;
  color: black ;
}

.content-area{
  height: calc(100vh-56px);
  display: flex;
  background-color: #f9f9f9;
}

aside {
  height: 100%; 
  width: 280px;
  background-color: white;
  overflow-y:auto ;
}

nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 10px;
}
.nav-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  height: 50px;
  border-radius: 5px;
  
}
.active {
  background-color: #c6c6c6;
}
.nav-link:hover{
  background-color: rgba(0,0,0,.05);
}
a img{
  width: 29px;
  height: 29px;
  border: none;
  margin: 10px 0 2px 0;
}
hr{
  height: 1px;
  background-color: #e5e5e5;
}
.nav-link span{
  display: flex;
  padding-left: 10px;
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 500;
  color: #030303;
}
nav p{
  font-size: 1.6rem;
  color: #030303;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}
a span{
  text-transform: uppercase;
}


main{
  width: 100%;
  height: 100%;
  padding: 35px 15px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}


.video{
  width: 330px;
  margin-bottom: 40px;
  cursor: pointer;

}
.video:hover {
  
  background-color: #ddd;
}
.video-creator:hover{
  color: black;
}
.thumbnail{
  width: 100%;
  height: 187px;
  margin-bottom: 12px;
}

.thumbnail img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video-details{
  display: flex;

}

.creator-img img{
  height: 40px;
  width: 40px;
  border-radius:50%;
  margin-right: 12px;
}

.title{
  display: flex;
  flex-direction: column;

}
.title a{
  text-decoration: none;
}

.video-title{
  color:rgb(3,3,3) ;
  font-size: 1.6rem;
  max-width: 278px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 2.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:2 ;
  -webkit-box-orient: vertical;

}




